spring:
  datasource:
    url: jdbc:h2:mem:camunda;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jackson:
    serialization:
      write-dates-as-timestamps: false
  main:
    banner-mode: off

camunda:
  bpm:
    database:
      schema-update: true
    admin-user:
      id: demo
      password: demo
    filter:
      create: All.Tasks

server:
  servlet:
    context-path: /

logging:
  file:
    name: logs/workflow-demo.log
  level:
    com.example.workflowdemo: INFO
